fastapi
uvicorn
yfinance
pandas
requests
faiss-cpu
python-dotenv
pyttsx3
speech_recognition
openai


requests
beautifulsoup4
lxml



sentence-transformers

gTTS
pydub


numpy
scikit-learn


aiofiles


httpx
